*.cmd
*.exe
*/__pycache__*
*/.vscode*
.vscode/
*/.idea*
*/.git*
*/.gitignore*
*/.gitattributes*
*/.gitmodules*
*/.gitkeep*
*/.gitlab-ci.yml*
*/.gitlab*
*/.github

.venv
__pycache__/
.env
*.log
/data/raw/*.stl
/data/processed/*
/data/*.obj
/data/*.mtl
/data/*.png
/data/*.jpg
/data/*.jpeg
/data/*.vsi
**.stl
**.npz
*/.jupyter_cache

lightning_logs/
wandb/
*.ckpt

**/outputs

.DS_Store

!requirements.txt
!Pixel_Nerf/requirements.txt


Pixel_Nerf/pollen/*




Vanilla_Nerf/*.txt
Vanilla_Nerf/data/*
Pixel_NeRF/*.txt
Pixel_NeRF/pollen/*.png
Pixel_NeRF/pollen/*.txt
*.png
Pixel_Nerf/pollen.zip
Pixel_Nerf/pollen_128/
Pixel_Nerf/readme-img/paper_teaser.jpg
Pixel_Nerf/readme-img/paper_teaser.jpg
/Hunyuan3D-2/data
*.glb
