*.cmd
*.exe
*/__pycache__*
*/.vscode*
.vscode/
*/.idea*
*/.git*
*/.gitignore*
*/.gitattributes*
*/.gitmodules*
*/.gitkeep*
*/.gitlab-ci.yml*
*/.gitlab*
*/.github

Pixel_NeRF/pollen_augmented/*
.venv
__pycache__/
.env
*.log
/data/raw/*.stl
/data/processed/*
/data/*.obj
/data/*.mtl
/data/*.png
/data/*.jpg
/data/*.jpeg
/data/*.vsi
**.stl
**.npz
*/.jupyter_cache
sequoia/Pixel2MeshPlusPlus/data/pollen/*

lightning_logs/
wandb/
*.ckpt

**/outputs

.DS_Store

!requirements.txt
!Pixel_Nerf/requirements.txt


Pixel_Nerf/pollen/*
*/checkpoints/*

*.jpg
*.png
*.gif




Vanilla_Nerf/*.txt
Vanilla_Nerf/data/*
Pixel_NeRF/*.txt
Pixel_NeRF/pollen/*.png
Pixel_NeRF/pollen/*.txt
*.png
Pixel_Nerf/pollen.zip
Pixel_Nerf/pollen_128/
Pixel_Nerf/readme-img/paper_teaser.jpg
Pixel_Nerf/readme-img/paper_teaser.jpg
/Hunyuan3D-2/data
*.glb
SparseFusion/data/co3d_toy/apple/apple_toy.pt
SparseFusion/output/demo/apple_000_c2.pt
Pixel_Nerf/pollen_augmented/256_res.zip
.gitignore
Pixel_Nerf/pollen_augmented/256_res/pollen_train/17767_Common_knapweed_Centaurea_nigra_pollen_grain_asymmetry_1/intrinsics.txt

Pixel_Nerf/pollen_augmented/256_res/*
Pixel_Nerf/pollen_augmented/256_res/**
*.bin
InstantMesh/pollen/pollen_train/*

InstantMesh/pollen/*
Pixel_Nerf/pollen_augmented/**
Pixel2MeshPlusPlus2/data/pollen/test/17767_Common_knapweed_Centaurea_nigra_pollen_grain_00/mesh/model.obj
Pixel2MeshPlusPlus2/data/*.txt

Pixel2MeshPlusPlus2/data/*.png
Pixel2MeshPlusPlus2/data/*.npz
